
@{
    ViewBag.Title = "Index";
}
<div style="background-color: lightblue;">
    <script src="~/Content/Pages/Invoice.js"></script>
    <div style="background-color: lightblue;">
        <h2 style="text-align:center;">Invoice Table</h2>

        <div class="col-lg-6" style="text-align:left;background-color:lightblue;">
            <div style="padding-left:70px;" >
                <div class="col-sm-6">
                    <label>CustId</label>
                    <input type="text" id="txtCustId" name="CustId" class="form-control" placeholder="Enter CustId"/>
                    <br />
                    <label>Amount</label>
                    <input type="text" id="txtAmount" name="Amount" class="form-control" placeholder="Enter Amount"/>
                    <br />
                </div>
                <div class="col-sm-6">
                    <label>Discount</label>
                    <input type="text" id="txtDiscount" name="Discount" class="form-control" placeholder="Enter Discount"/>
                    <br />
                    <label>TotalAmt</label>
                    <input type="text" id="txtTotalAmt" name="TotalAmt" class="form-control" placeholder="Enter TotalAmt"/>
                    <br />
                </div>
                <div class="col-sm-6">
                    <label>InvoiceDate</label>
                    <input type="date" id="txtInvoiceDate" name="InvoiceDate" class="form-control" />
                    <br />
                    <label>Vat</label>
                    <input type="text" id="txtVat" name="Vat" class="form-control" placeholder="Enter Vat"/>
                    <br />
                </div>
                <div class="col-sm-6">
                    <label>Time</label>
                    <input type="text" id="txtTime" name="Time" class="form-control" placeholder="Enter Time"/>
                    <br />
                    <label>PayMode</label>
                    <input type="text" id="txtPayMode" name="PayMode" class="form-control" placeholder="Enter PayMode"/>
                    <br />
                </div>
                <div class="col-sm-6">
                    <label>Paid</label>
                    <input type="text" id="txtPaid" name="Paid" class="form-control" placeholder="Enter Paid"/>
                    <br />
                    <label>Note</label>
                    <input type="text" id="txtNote" name="Note" class="form-control" placeholder="Enter Note"/>
                    <br />
                </div>
                <div class="col-sm-6">
                    <label>Advance</label>
                    <input type="text" id="txtAdvance" name="Advance" class="form-control" placeholder="Enter Advance"/>
                    <br />
                    <label>Point</label>
                    <input type="text" id="txtPoint" name="Point" class="form-control" placeholder="Enter Point"/>
                    <br />
                    
                </div>
                <div class="col-sm-6">
                    <label>Person</label>
                    <input type="text" id="txtPerson" name="Person" class="form-control" placeholder="Enter Person"/>
                    <br />
                    <label>InvoiceId</label>
                    <input type="text" id="txtInvoiceId" name="InvoiceId" class="form-control" placeholder="Enter InvoiceId"/>
                    <br />
                    <label>SGST</label>
                    <input type="text" id="txtSGST" name="SGST" class="form-control" placeholder="Enter SGST"/>
                    <br />

                </div>
                <div class="col-sm-6">
                    <label>CGST</label>
                    <input type="text" id="txtCGST" name="CGST" class="form-control" placeholder="Enter CGST"/>
                    <br />
                    <label>IGST</label>
                    <input type="text" id="txtIGST" name="IGST" class="form-control" placeholder="Enter IGST"/>
                    <br />
                    <label>AutoInvoiceID</label>
                    <input type="text" id="txtAutoInvoiceID" name="AutoInvoiceID" class="form-control" />
                    <br />
                </div>
            </div>
        </div>
    </div>
 </div>
<div class="col-sm-6" >
    <p>         </p>
    <input type="submit" name="Save" value="Save" onclick=saveInvoice() class=""/>
</div>
<p>            
</p>

    <table id="tbl_Invoice" border="1" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <th>Id</th>
        <th>CustId</th>
        <th>Amount</th>
        <th>Discount</th>
        <th>TotalAmt</th>
        <th>InvoiceDate</th>
        <th>Vat</th>
        <th>Time</th>
        <th>PayMode</th>
        <th>Paid</th>
        <th>Note</th>

        <th>Advance</th>
        <th>Point</th>
        <th>Person</th>
        <th>InvoiceId</th>
        <th>SGST</th>
        <th>CGST</th>
        <th>IGST</th>
        <th>AutoInvoiceID</th>
        </thead>
        <tbody></tbody>
    </table>

